body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    
}

div {
    border: 1px solid black;
}

#first-block {
    background-color: red;
    display: grid;
    grid-template-rows: 10vh; 
    
}

.blue-block {
    display: grid;
  
        justify-content: center;
     align-items: center;
    background-color: blue;
    
    height: 30vh;
    width: 30vw;
}

.yellow-block {
    display: grid;
        justify-content: center;
     align-items: center;
    background-color: yellow;
    height: 30vh;
    width: 30vw;
}

.green-block {
    display: grid;
        justify-content: center;
     align-items: center;
    background-color: green;
   
    height: 30vh;
    width: 30vw;
}

.black-block {
    display: grid;
        justify-content: center;
     align-items: center;
    background-color: black;
    color: white;
    
    height: 45vh;
    width: 45.5vw;
}

.white-block {
    display: grid;
        justify-content: center;
     align-items: center;
    height: 30vh;
    width: 30vw;
    margin: 5px 5px 5px 5px;
    background-color: white;
}

#main-container {
    display: grid;
 
    justify-content: center;
    vertical-align: middle;
    text-align: center;

}

.container1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
justify-items: center;
justify-content: space-between;  
margin-top: 10px;
margin-bottom: 10px;
align-content: space-evenly;
border: none;
}
.container2{
    display: grid;
    grid-template-columns: 50% 50%;
justify-items: center;
justify-content: space-between;  
margin-top: 10px;
margin-bottom: 10px;
align-content: space-evenly;
border: none;
}

@media screen and (max-device-width : 420px) { 

    /* celulares */
    
  
    .blue-block {
        display: grid;
            justify-content: center;
         align-items: center;
        background-color: blue;
        margin: 5px 5px 5px 5px;
        height: 10vh;
        width: 100vw;
    }
    
    .yellow-block {
        display: grid;
            justify-content: center;
         align-items: center;
        background-color: yellow;
        
        height: 10vh;
        width: 100vw;
    }
    
    .green-block {
        display: grid;
            justify-content: center;
         align-items: center;
        background-color: green;
        
        height: 10vh;
        width: 100vw;
    }
    
    .black-block {
        display: grid;
            justify-content: center;
         align-items: center;
        background-color: black;
        color: white;
        
        height: 10vh;
        width: 100vw;
    }
    
    .white-block {
        display: grid;
            justify-content: center;
         align-items: center;
        height: 10vh;
        width: 100vw;
        
        background-color: white;
    }


}
@media screen and (min-device-width : 421px) and (max-device-width : 800px) {
/* tablets */
#first-block {
    background-color: red;
    display: grid;
    grid-template-rows: 10vh;  
    
}

.blue-block {
    display: grid;
  
        justify-content: center;
     align-items: center;
    background-color: blue;
    
    height: 30vh;
    width: 30vw;
}

.yellow-block {
    display: grid;
        justify-content: center;
     align-items: center;
    background-color: yellow;
    height: 30vh;
    width: 30vw;
}

.green-block {
    display: grid;
        justify-content: center;
     align-items: center;
    background-color: green;
   
    height: 30vh;
    width: 30vw;
}

.black-block {
    display: grid;
        justify-content: center;
     align-items: center;
    background-color: black;
    color: white;
    
    height: 45vh;
    width: 45.5vw;
}

.white-block {
    display: grid;
        justify-content: center;
     align-items: center;
    height: 30vh;
    width: 30vw;
    margin: 5px 5px 5px 5px;
    background-color: white;
}

#main-container {
    display: grid;
 
    justify-content: center;
    vertical-align: middle;
    text-align: center;

}

.container1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
justify-items: center;
justify-content: space-between;  
margin-top: 10px;
margin-bottom: 10px;
align-content: space-evenly;
border: none;
}
.container2{
    display: grid;
    grid-template-columns: 50% 50%;
justify-items: center;
justify-content: space-between;  
margin-top: 10px;
margin-bottom: 10px;
align-content: space-evenly;
border: none;
}



}